* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
}

@font-face {
    font-family: 'SongTi';
    src: url('./fonts/Adobe-SongTi-Std-L-2.otf');
}

.App {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.waveLayer {
    position: relative;
    width: 1280px;
    height: 720px;
}
.waveControl {
    margin-top: 20px;
    width: 1280px;
    padding: 20px 100px;
}

.textLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    color: white;
}

.textLayer h2 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textLayer .name {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 36px;
    font-family: 'SongTi';
}

.textLayer .logo {
    position: absolute;
    width: 140px;
    right: 50px;
    bottom: 50px;
}

#holder {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
